# By default, auto detect text files and perform LF normalization
* text=auto eol=lf

# VBA extensions - Prevent LF normalization
*.bas -text diff
*.cls -text diff
*.frm -text diff

# VBA extensions - Mark as binary
*.frx binary

# AutoHotKey
*.ahk -text diff
