name: Enforce-CRLF

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  enforce-crlf:
    runs-on: ubuntu-latest
    steps:
    - name: Enforce CRLF action
      uses: DecimalTurn/Enforce-CRLF@3862e67f48e6116a3af78dd0c384cf84d964d018 #v1.2.1
      with:
        extensions: .bas, .frm, .cls
        do-checkout: true
        do-push: true
        

