on: [push]

jobs:
    build-and-publish:
      runs-on: ubuntu-latest
      name: My workflow
      steps:
        - name: Execute Action Graph
          uses: actionforge/action@5636645834e4a75cbc8c6c204e872ddc27632738 # v0.9.52
          with:
            graph_file: vba_docs_gen.yml